# Environment variables declared in this file are automatically made available to Prisma.

# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB (Preview).

# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

DATABASE_URL="postgresql://postgres:xxxxxxxxxxxxxxx@url:port/resource"
PRISMA_FIELD_ENCRYPTION_KEY=k1.aesgcm256.DbQoar8ZLuUsOHZNyrnjlskInHDYlzF3q6y1KGM7DUM=
PRISMA_FIELD_DECRYPTION_KEYS=
NEXTAUTH_URL=http://cluster-2.router-1.tradate.home:3000/
SECRET=xxxxxxxx
EMAIL_FROM=<email>
EMAIL_SERVER_HOST=<URL server>
EMAIL_SERVER_PORT=<port>
EMAIL_SERVER_USER=<user>
EMAIL_SERVER_PASSWORD=<password>
